<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/css/signin.css">
</head>
<body>
<header>
    <div>
        预留头部
    </div>
</header>
<main>
    <div class="container">
        <div class="signin">
            <div class="clear-float">
                <div class="register-label">
                    <span>登录</span>
                </div>
                <div class="to-login">
                    <span>没有账号？</span><a href="signup.html">注册</a>
                </div>
                <div class="input-area">
                    <form action="" method="POST">
                        <div>
                            <input type="text" class="input-line">
                        </div>
                        <div>
                            <input type="password" class="input-line">
                        </div>
                        <div>
                            <input type="checkbox" class="remember_me">
                            <label for="">记住我</label>
                        </div>
                        <div>
                            <button class="login">登 录</button>
                        </div>
                        <div class="other-login-method">
                            <span>其他方式登录</span>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>