<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
<header>
    <div>
        预留头部
    </div>
</header>
<main>
    <div class="container">
        <div class="signin">
            <div class="clear-float">
                <div class="clear-div">
                    <div class="login-label">
                        <span>登录</span>
                    </div>
                    <div class="to-register">
                        <span>没有账号？</span><a href="signup.html">注册</a>
                    </div>
                </div>
                <div class="input-area">
                    <form action="loginVerify" accept-charset="utf-8" method="POST">
                        <div class="item">
                            <input type="text" class="input-line" name="username" placeholder="手机号/邮箱">
                        </div>
                        <div class="item">
                            <input type="password" class="input-line" name="password" placeholder="请输入密码">
                        </div>
                        <div class="item">
                            <div class="login-tip">
                                <div class="remember_me">
                                <input type="checkbox" id="remember_me">
                                    <label for="remember_me">记住我</label>
                                </div>
                                <div class="forget_pwd">
                                    <a href="#">忘记密码？</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <button class="login-btn" type="submit">登 录</button>
                        </div>
                        <div class="other-login-method">
                            <span>其他方式登录</span>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>